<p class="sub"><strong>Người sử dụng lao động</strong></p>
<p class="sub-item">
  Theo quy định tại Điều 38 Bộ luật Lao động năm 2019, Người sử dụng lao động có quyền đơn phương
  chấm dứt hợp đồng lao động trong những trường hợp sau đây:
</p>
<p class="sub-item">a) Người lao động thường xuyên không hoàn thành công việc theo hợp đồng lao động;</p>
<p class="sub-item">b) Người lao động bị ốm đau, tai nạn đã điều trị 12 tháng liên tục đối với người làm theo hợp đồng lao động không xác định thời hạn, đã điều trị 06 tháng liên tục đối với người lao động làm theo hợp đồng lao động xác định thời hạn và quá nửa thời hạn hợp đồng lao động đối với người làm theo hợp đồng lao động theo mùa vụ hoặc theo một công việc nhất định có thời hạn dưới 12 tháng mà khả năng lao động chưa hồi phục;</p>
<p class="sub-item">c) Do thiên tai, hỏa hoạn hoặc những lý do bất khả kháng khác theo quy định của pháp luật, mà Người sử dụng lao động đã tìm mọi biện pháp khắc phục nhưng vẫn buộc phải thu hẹp sản xuất, giảm chỗ làm việc;</p>
<p class="sub-item">d) Người lao động không có mặt tại nơi làm việc sau thời hạn quy định tại Điều 33 của Bộ luật này;</p>
<p class="sub-item">e) Doanh nghiệp, cơ quan, tổ chức chấm dứt hoạt động;</p>
<p class="sub-item">f) Người lao động vi phạm kỷ luật mức sa thải;</p>
<p class="sub-item">g) Người lao động có hành vi gây thiệt hại nghiêm trọng về tài sản và lợi ích của Công ty;</p>
<p class="sub-item">h) Người lao động đang thi hành kỷ luật mức chuyển công tác mà tái phạm;</p>
<p class="sub-item">i) Người lao động tự ý bỏ việc 05 ngày/01 tháng và 20 ngày/01 năm;</p>
<p class="sub-item">k) Người lao động vi phạm Pháp luật Nhà nước.</p>
<p class="sub-item">
  Khi đơn phương chấm dứt hợp đồng lao động, Người sử dụng lao động phải báo cho Người lao động
  biết trước ít nhất <strong>45 ngày</strong>.
</p>
<p class="sub-item">
  Trong thời hạn 07 ngày, kể từ ngày chấm dứt Hợp đồng lao động, hai bên có trách nhiệm thanh toán
  đầy đủ các khoản có liên quan đến quyền lợi của mỗi bên; trường hợp đặc biệt, có thể kéo dài
  nhưng không quá 30 ngày.
</p>
<p class="sub-item">
  Trong trường hợp doanh nghiệp bị phá sản thì các khoản có liên quan đến quyền lợi của người lao
  động được thanh toán theo quy định của Luật Phá sản doanh nghiệp.
</p>

<p class="sub"><strong>Người lao động</strong></p>
<p class="sub-item">
  Người lao động làm việc theo hợp đồng lao động không xác định thời hạn có quyền đơn phương chấm
  dứt hợp đồng lao động, nhưng phải báo cho Người sử dụng lao động biết trước ít nhất
  <strong>45 ngày</strong>.
</p>
