<p class="sub"><strong>Nghĩa vụ</strong></p>
<p class="sub-item">a) Thực hiện công việc với sự tận tâm, tận lực, đảm bảo hoàn thành công việc với hiệu quả cao nhất theo sự phân công, điều hành (bằng văn bản hoặc bằng miệng) của Ban Giám đốc trong Công ty (và các cá nhân được Ban Giám đốc bổ nhiệm hoặc ủy quyền phụ trách).</p>
<p class="sub-item">b) Hoàn thành công việc được giao và sẵn sàng chấp nhận mọi sự điều động khi có yêu cầu.</p>
<p class="sub-item">c) Nắm rõ và chấp hành nghiêm túc kỷ luật lao động, an toàn lao động, vệ sinh lao động, PCCC, văn hóa Công ty, nội quy lao động và các chủ trương, chính sách của Công ty.</p>
<p class="sub-item">d) Bồi thường vi phạm và vật chất theo quy chế, nội quy của Công ty và pháp luật Nhà nước quy định.</p>
<p class="sub-item">e) Tham dự đầy đủ, nhiệt tình các buổi huấn luyện, đào tạo, hội thảo do Bộ phận hoặc Công ty tổ chức.</p>
<p class="sub-item">f) Thực hiện đúng cam kết trong HĐLĐ và các thỏa thuận bằng văn bản khác với Công ty.</p>
<p class="sub-item">g) Đóng các loại bảo hiểm, các khoản thuế… đầy đủ theo quy định của pháp luật.</p>
<p class="sub-item">h) Chế độ đào tạo: Theo quy định của Công ty và yêu cầu công việc. Trong trường hợp Cán bộ nhân viên được cử đi đào tạo thì nhân viên phải hoàn thành khoá học đúng thời hạn, phải cam kết sẽ phục vụ lâu dài cho Công ty sau khi kết thúc khoá học và được hưởng nguyên lương, các quyền lợi khác được hưởng như người đi làm.</p>
<p class="sub-item">i) Nếu sau khi kết thúc khóa đào tạo mà nhân viên không tiếp tục hợp tác với Công ty thì nhân viên phải hoàn trả lại 100% phí đào tạo và các khoản chế độ đã được nhận trong thời gian đào tạo.</p>

<p class="sub"><strong>Quyền lợi</strong></p>
<p class="sub-item">a) Tiền lương, phụ cấp và các khoản bổ sung: theo bảng chi tiết tại <strong>Điều 2</strong> của Hợp đồng này.</p>
<p class="sub-item">b) Các quyền lợi khác:</p>
<p class="bullet">+ Khen thưởng: Người lao động được khuyến khích bằng vật chất và tinh thần khi có thành tích trong công tác hoặc theo quy định của Công ty.</p>
<p class="bullet">+ Chế độ nâng lương: Theo quy định của Nhà nước và quy chế tiền lương của Công ty. Người lao động hoàn thành tốt nhiệm vụ được giao, không vi phạm kỷ luật và/hoặc không trong thời gian xử lý kỷ luật lao động và đủ điều kiện về thời gian theo quy chế lương thì được xét nâng lương.</p>
<p class="bullet">+ Chế độ nghỉ: Theo quy định chung của Nhà nước và Điều 3 của Hợp đồng này.</p>
<p class="bullet">+ Chế độ Bảo hiểm xã hội theo quy định của Nhà nước.</p>
<p class="bullet">+ Các chế độ được hưởng: Người lao động được hưởng các chế độ ngừng việc, trợ cấp thôi việc hoặc bồi thường theo quy định của Pháp luật hiện hành.</p>
<p class="bullet">+ Thỏa thuận khác: Công ty được quyền chấm dứt Hợp đồng lao động trước thời hạn đối với Người lao động có kết quả đánh giá hiệu suất công việc dưới mức quy định trong 03 tháng liên tục.</p>
