<p class="sub">- Đào tạo, bồi dưỡng: Người lao động được đào tạo, bồi dưỡng, huấn luyện tại nơi làm việc hoặc được gửi đi đào tạo theo quy định của Công ty và yêu cầu công việc.</p>
<p class="sub">- Khen thưởng: Người lao động được khuyến khích bằng vật chất và tinh thần khi có thành tích trong công tác hoặc theo quy định của Công ty.</p>
<p class="sub">- Các khoản thỏa thuận khác gồm: tiền cơm trưa, thưởng mặc định, hỗ trợ xăng xe, điện thoại, nhà ở, trang phục…, theo quy định của Công ty và chi tiết tại <strong>Điều 2</strong> của Hợp đồng này.</p>

<p class="sub"><strong>Nghĩa vụ liên quan của người lao động:</strong></p>
<p class="bullet">+ Tuân thủ hợp đồng lao động.</p>
<p class="bullet">+ Thực hiện công việc với sự tận tâm, tận lực và mẫn cán, đảm bảo hoàn thành công việc với hiệu quả cao nhất theo sự phân công, điều hành (bằng văn bản hoặc bằng miệng) của Ban Giám đốc (và các cá nhân được Ban Giám đốc bổ nhiệm hoặc ủy quyền phụ trách).</p>
<p class="bullet">+ Hoàn thành công việc được giao và sẵn sàng chấp nhận mọi sự điều động khi có yêu cầu.</p>
<p class="bullet">+ Nắm rõ và chấp hành nghiêm túc kỷ luật lao động, an toàn lao động, vệ sinh lao động, phòng cháy chữa cháy, văn hóa Công ty, nội quy lao động và các chủ trương, chính sách của Công ty.</p>
<p class="bullet">+ Trong trường hợp được cử đi đào tạo thì nhân viên phải hoàn thành khoá học đúng thời hạn, phải cam kết sẽ phục vụ lâu dài cho Công ty sau khi kết thúc khoá học và được hưởng nguyên lương, các quyền lợi khác được hưởng như người đi làm.</p>
<p class="sub-item">Nếu sau khi kết thúc khóa đào tạo mà nhân viên không tiếp tục hợp tác với Công ty thì nhân viên phải hoàn trả lại 100% phí đào tạo và các khoản chế độ đã được nhận trong thời gian đào tạo.</p>
<p class="bullet">+ Bồi thường vi phạm vật chất: Theo quy định nội bộ của Công ty và quy định của pháp luật hiện hành.</p>
<p class="bullet">+ Có trách nhiệm đề xuất các giải pháp nâng cao hiệu quả công việc, giảm thiểu các rủi ro. Khuyến khích các đóng góp này được thực hiện bằng văn bản.</p>
<p class="bullet">+ Thuế TNCN, nếu có: do người lao động đóng. Công ty sẽ tạm khấu trừ trước khi chi trả cho người lao động theo quy định.</p>
