<p class="sub">
  Những vấn đề về lao động không ghi trong Hợp đồng lao động này thì áp dụng theo quy định của
  Thỏa ước tập thể, nội quy lao động và Pháp luật lao động.
</p>
<p class="sub">
  Khi hai bên ký kết Phụ lục hợp đồng lao động thì nội dung của Phụ lục hợp đồng lao động cũng có
  giá trị như các nội dung của bản hợp đồng này.
</p>
<p class="sub">
  Hợp đồng này được lập thành <strong>02 (hai) bản</strong> có giá trị như nhau, Hành chính nhân sự
  giữ 01 (một) bản, Người lao động giữ 01 (một) bản và có hiệu lực kể từ ngày
  <strong>{{ start_date_vi }}</strong>.
</p>
<p class="sub">
  Hợp đồng được lập tại: <strong>{{ sign_place }}</strong>,
  ngày <strong>{{ sign_day }}</strong> tháng <strong>{{ sign_month }}</strong> năm
  <strong>{{ sign_year }}</strong>.
</p>
